@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
    --navbar-bg: #ffffff;
    --hero-bg: #fff4f3;
    --hero-bubble-bg: #ffffff;
    --hero-bubble-border: #ffdcc8;
    --hero-bubble-text: #757575;
    --hero-description: #757575;

    --nav-link-color: #ff4438;

    --primary-text: #000;
    --secondary-text: #fff;
    --highlighted-text: #ff4438;
    --accent-color: #ff4438;
    --gradient-color: #ffbe36;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", "san-serif";
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

section {
    padding-block: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    position: relative;
}

.section-title {
    font-weight: 700;
}

#hero {
    background-color: var(--hero-bg);

    .left-col {
        .hero-label {
            color: var(--highlighted-text);
        }

        .hero-title {
            font-size: 3.5rem;
            margin-block: 1rem;

            .hero-title__highlighted {
                color: var(--highlighted-text);
            }
        }

        .hero-description {
            margin-top: 2rem;
            color: var(--hero-description);
            line-height: 1.5;
        }

        .hero-cta-container {
            max-width: 520px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;

            .hero-employees-container {
                display: flex;
                align-items: center;
                font-weight: 700;
            }
        }
    }

    .right-col {
        .right-col-image-container {
            position: relative;

            .right-col-label-container {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.75rem;
                padding: 1rem;
                background-color: var(--hero-bubble-bg);
                border: 1px solid var(--hero-bubble-border);
                border-radius: 17px;
                position: absolute;

                .label-icon i {
                    font-size: 1.5rem;
                    color: #ff4438;
                }

                .label-text div {
                    margin-top: 0.25rem;
                    color: var(--hero-bubble-text);
                }
            }

            .right-col-label-one {
                top: 15%;
                right: -40%;
            }

            .right-col-label-two {
                bottom: 30%;
                left: -40%;
            }
        }
    }
}

#aboutUs {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;

    .left-col {
        .left-col-image-container {
            position: relative;

            .left-col-label-one {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.75rem;
                padding: 1rem;
                background-color: var(--hero-bubble-bg);
                border: 1px solid var(--hero-bubble-border);
                border-radius: 17px;
                position: absolute;
                right: 20%;
                bottom: 32%;

                .label-text div {
                    margin-top: 0.25rem;
                    color: var(--hero-bubble-text);
                }
            }

            img {
                max-width: 400px;
            }
        }
    }

    .right-col {
        .about-us-label {
            font-size: 1rem;
            color: var(--highlighted-text);
        }

        .about-us-title {
            font-size: 3rem;
            margin-block: 1rem;

            .about-us__highlighted {
                color: var(--highlighted-text);
            }
        }

        .about-us-description {
            margin-top: 2rem;
            color: var(--hero-description);
            line-height: 1.5;
        }
    }

    .backdrop-one {
        position: absolute;
        right: -10%;
        bottom: -20%;
    }

    .btn-apply {
        margin-top: 2rem;
    }
}

#whyChooseUs {
    width: 100%;
    background-color: var(--hero-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    position: relative;
    overflow: hidden;

    .left-col {
        width: 50%;

        .left-col-image-container {
            position: relative;

            .left-col-label-one {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.75rem;
                padding: 1rem;
                background-color: var(--hero-bubble-bg);
                border: 1px solid var(--hero-bubble-border);
                border-radius: 17px;
                position: absolute;
                right: 20%;
                bottom: 32%;

                .label-text div {
                    margin-top: 0.25rem;
                    color: var(--hero-bubble-text);
                }
            }
        }
    }

    .right-col {
        width: 50%;
        .about-us-label {
            color: var(--highlighted-text);
        }

        .about-us-title {
            font-size: 3rem;
            margin-block: 1rem;

            .about-us__highlighted {
                color: var(--highlighted-text);
            }
        }

        .about-us-description {
            margin-top: 2rem;
            color: var(--hero-description);
            line-height: 1.5;
        }
    }

    .btn-apply {
        margin-top: 2rem;
    }
}

.btn-apply {
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--secondary-text);
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(
        to right,
        var(--accent-color) 0%,
        var(--gradient-color) 50%,
        var(--accent-color) 100%
    );
    background-size: 200% auto;
}

/* start of navbar */
.bg-light {
    background-color: var(--navbar-bg) !important;
}

.nav-logo {
    img {
        width: 200px;
    }
}

.navbar-light .navbar-toggler {
    background-color: var(--nav-link-color);
}

.navbar-light .navbar-toggler-icon {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.navbar-toggler {
    padding-inline: 0.25rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link {
    color: var(--nav-link-color);
}

/* end of navbar */

@media only screen and (max-width: 767px) {
    section {
        padding-block: 3.125rem;
    }

    #hero {
        .left-col {
            .hero-label {
                font-size: 1rem;
            }
            .hero-title {
                font-size: 2.25rem;
            }

            .hero-cta-container {
                .hero-employees-container {
                    img {
                        width: 160px;
                    }
                }
            }
        }

        .right-col {
            .right-col-image-container {
                display: flex;
                justify-content: center;

                img {
                    width: 200px;
                }

                .right-col-label-one {
                    top: 35%;
                    right: 5%;
                }

                .right-col-label-two {
                    bottom: 5%;
                    left: -5%;
                }
            }
        }
    }

    .dropdown-menu {
        border: none;
    }

    .hero-cta-container {
        align-items: flex-start !important;
        flex-direction: column;

        .btn-apply {
            margin-bottom: 2rem;
        }
    }

    .btn-apply {
        font-size: 1rem;
        padding-inline: 25px;
    }

    #aboutUs {
        .left-col-image-container img {
            width: 100%;
        }
        .right-col {
            .about-us-title {
                font-size: 1.875rem;
            }

            .about-us-label {
                font-size: 1rem;
            }
        }
    }
}
